@using School.Entities;
@model Category

<div class="row mt-12">
    <div class="col-md-12">
        @using (Html.BeginForm("Add", "Category",FormMethod.Post))
{
        <div class="form-group">
            <label for="categoryName">Category</label>
            @Html.TextBoxFor(m => Model.Name, htmlAttributes: new { @class = "form - control" })

        </div>
        <div class="form-group">
            <label for="categoryName">Discount</label>
            @Html.TextBoxFor(m => Model.Discount, htmlAttributes: new { @class = "form - control" })

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
}
    </div>
</div>



